/trainingandtestdata/
/tradutor/
/tradutor_chek/checkpoint
/tradutor_chek/ckpt-3.data-00000-of-00001
/tradutor_chek/ckpt-3.index
/tradutor_chek/ckpt-4.data-00000-of-00001
/tradutor_chek/ckpt-4.index
/tradutor_chek/ckpt-5.data-00000-of-00001
/tradutor_chek/ckpt-5.index
/tradutor_chek/ckpt-6.data-00000-of-00001
/tradutor_chek/ckpt-6.index
/tradutor_chek/ckpt-7.data-00000-of-00001
/tradutor_chek/ckpt-7.index
